body {
  background-color: lightblue;
}

body h1 {
    font-size: 1.4em;
    font-family: verdana;
    margin-bottom: 1em;
}

body h2 {
    font-size: 1em;
    font-family: verdana;
    margin-bottom: 1em;
}

#firstparaf {
    margin: auto;
    text-align: center;
    
}

#mainImage {
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.thoseimages {
	width: 100%;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
}